<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236825189714-riscsnv49ee0p5tbabcpcijnomlm21ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236825189714-riscsnv49ee0p5tbabcpcijnomlm21ob</string>
	<key>API_KEY</key>
	<string>AIzaSyDm3hWpwIw_0s5mHRQ-GK0H9mxNYLVyOug</string>
	<key>GCM_SENDER_ID</key>
	<string>236825189714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.financesok.financesok</string>
	<key>PROJECT_ID</key>
	<string>fiancialok</string>
	<key>STORAGE_BUCKET</key>
	<string>fiancialok.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236825189714:ios:26fcffd083647798</string>
	<key>DATABASE_URL</key>
	<string>https://fiancialok.firebaseio.com</string>
</dict>
</plist>